.section .se2 .p1{width:100%}
.section .se2 .p1 img{width:100%;display: block;}
.section .se2 .ying{display:flex;padding:0.15rem 0;align-items: center}
.section .se2 .ying .p2{width:0.2rem;height:0.3rem;background:rgb(240, 184, 81);margin-right:0.05rem;}
.section .se2 .jie{padding:0 0.2rem 0 0.2rem;font-size:12px;margin-bottom:0.8rem;}
.section .se2 .jie p{margin-bottom:0.1rem;}
.section .se2 .jie .fan{width:100%;overflow: hidden;white-space: nowrap}
.section .se2 .gou{width:1.5rem;height:0.35rem;background:rgb(250, 94, 37);text-align: center;line-height:0.35rem;
border-radius:20px;color:#fff;position: absolute;left:50%;margin-left:-0.75rem;bottom:0.2rem;}































